<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   
    
    <div class="header1">
        <a href="/">Home</a>
        <a href="/weather">Weather</a>
    </div>

     <h2 class="welcome">{{title}}</h2>
</body>
</html>