<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h2>{{>header}}</h2>

    <div class="weatherData">
        <form id="form1">
            <input type="text" id="inp1" placeholder="Enter country" />
            <button id="btn"> Search for weather</button>
        </form>

        <h2 id="name"></h2>
        <h2 id="long"></h2>
        <h2 id="lat"></h2> 
        <h2 id="status"></h2>
        <h2 id="temp"></h2>
        <h2 id="error"></h2>
    </div>
    
         
          
   
    <script src="js/script.js"></script>
</body>
</html>

