<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Api</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h2>{{>header}}</h2>
    <div class="weatherData" id="datafor">

        <form id="form1">
            <input type="text" id="inp1" placeholder="Enter country" />
            <button> Search for weather</button>
        </form>

        <h2 id="name"></h2>
        <h2 id="long"></h2>
        <h2 id="lat"></h2> 
        <h2 id="status"></h2>
        <h2 id="temp"></h2>
        <h2 id="error"></h2> 
        {{!-- <script src="js/script.js"></script> --}}
    </div>
    
</body>
</html>